* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --redColor: hsl(14, 86%, 42%);
    --greenColor: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
    --primaryFont: Red Hat Text;
}

body {
    min-height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rose100);
    user-select: none;
    position: relative;
}

#blackBackground {
    position: fixed;
    font-family: var(--primaryFont);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.612);
    z-index: 1;
    display: none;

    #confirmOrderContainer {
        width: 40%;
        max-height: 100vh;
        overflow-x: none;
        overflow-y: scroll;
        background-color: white;
        border-radius: 10px;
        padding: 20px;

        &::-webkit-scrollbar{
            display: none;
        }

        .imageSection {
            width: 50px;
            aspect-ratio: 1/1;
            margin-bottom: 10px;
        }

        #confirmOrderPara {
            margin-top: 10px;
            color: var(--rose400);
        }

        #confirmItemListContainer {
            background-color: var(--rose100);
            border-radius: 5px;
            padding: 20px;
            width: 100%;
            margin: 20px 0px;
        }
    }
}

.orderedItemName {
    font-weight: bold;
}

.imageSection {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedItemBoxRightWrapper {
    gap: 20px;
}

.confirmSelectedItemTotalPricePerUnit {
    &::before {
        content: "$";
    }
}

.crossBtn {
    padding: 5px;

    &:hover {
        border: 2px solid var(--rose400);
        border-radius: 50%;
        cursor: pointer;
    }
}

main {
    font-family: var(--primaryFont);
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 100px;
}

.selectedItemBox {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--rose300);
    font-size: 13px;

    .selectedItemBoxRight {
        flex-direction: column;
        width: 70%;
        height: 100%;

        .selectedItemName {
            width: 100%;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .selectedItemPriceContainer {
            width: 60%;
            justify-content: space-around;
            margin-bottom: 10px;

            .selectedItemUnit {
                font-weight: 600;
                color: var(--redColor);
            }

            .selectedItemPricePerUnit {
                opacity: 70%;
            }

            .selectedItemTotalPricePerUnit {
                color: var(--rose500);
                font-weight: 500;

                &::before {
                    content: '$';
                }
            }
        }
    }

    .selectedItemBoxLeft {
        width: 20%;
        height: 100%;
    }

}

.totalPriceBox {
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 30px;

    .title {
        font-weight: 500;
    }


    #finalTotalPrice,
    #totalPrice {
        &::before {
            content: '$';
        }
    }
}

#finalOrderBtn {
    margin-top: 10px;
    width: 100%;
    background-color: var(--redColor);
    padding: 15px;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    transition: background-color 0.2s linear;

    &:hover {
        cursor: pointer;
        background-color: var(--rose900);
    }
}

#desertListContainer {
    width: 70%;
    
    .productList {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        margin-top: 30px;

        .subcontainer {
            width: 100%;

            .itemsImage {
                border-radius: 10px;
                position: relative;
                width: 100%;
                height: 70%;
                margin-bottom: 30px;

                img {
                    border-radius: 10px;
                }

                .addtocartBox {
                    position: absolute;
                    background-color: white;
                    border: 1.5px solid grey;
                    bottom: -7%;
                    padding: 5px 10px;
                    border-radius: 50px;
                    width: 60%;
                    transition: border-color 0.2s linear, color 0.2s linear;

                    &:hover {
                        border-color: var(--redColor);
                        color: var(--redColor);
                        cursor: pointer;
                    }
                }

                .addtocart {
                    .imageSection {
                        width: 20px;
                        aspect-ratio: 1/1;
                        margin-right: 10px;

                        &:hover {
                            background-color: white;
                            color: var(--redColor);
                        }
                    }

                    .addtocartTitle {
                        font-weight: bold;
                        text-transform: capitalize;
                        font-size: 15px;
                    }
                }

                .productQuantity {
                    display: none;
                    justify-content: space-between;
                    background-color: var(--redColor);
                    border-color: var(--redColor);

                    .imageSection {
                        width: 20px;
                        border: 1px solid white;
                        border-radius: 50%;
                        aspect-ratio: 1/1;
                        padding: 5px;

                        img {
                            object-fit: none;
                        }

                        &:hover {
                            background-color: white;
                        }
                    }

                    .productUnits {
                        margin: 0px 20px;
                        color: white;
                        font-weight: bold;
                        font-size: 15px;
                        padding: 2px;
                    }
                }
            }

            .itemDetails {
                .tags {
                    opacity: 70%;
                    margin-bottom: 5px;
                }

                .itemName {
                    font-weight: 700;
                    margin-bottom: 5px;
                    font-size: 15px;
                }

                .price {
                    font-weight: 600;
                    color: var(--redColor);

                    &::before {
                        content: "$";
                    }
                }
            }
        }
    }
}

#summaryContainer {
    background-color: white;
    width: 30%;
    padding: 30px;
    height: fit-content;
    border-radius: 10px;

    .cartHeading {
        font-size: 25px;
        font-weight: bold;
        color: var(--redColor);
        margin-bottom: 30px;
    }

    #emptyCart {
        flex-direction: column;

        .imageSection {
            margin-bottom: 10px;
        }

        .cartNote {
            font-weight: 600;
            color: var(--rose500);
        }
    }

    #orderingItems {
        display: none;

        .deliveryDetails {
            margin-bottom: 20px;
            background-color: var(--rose50);
            padding: 20px;
            border-radius: 5px;
        }

        #confirmOrderBtn {
            width: 100%;
            background-color: var(--redColor);
            padding: 15px;
            border: none;
            border-radius: 30px;
            color: white;
            font-weight: 400;
            font-size: 16px;
            transition: background-color 0.2s linear;

            &:hover {
                cursor: pointer;
                background-color: var(--rose900);
            }
        }
    }
}

@media(max-width: 1025px) and (min-width: 550px) {
    main{
        flex-direction: column;
    }

    #desertListContainer{       
        width: 100%;

        .productList{
            grid-template-columns: auto auto;
        }
    }

    #summaryContainer{
        width: 100%;
    }
    
    #blackBackground {
        #confirmOrderContainer{
            width: 60%;
        }
    }
}

@media (max-width: 550px) {
    main{
        flex-direction: column;
        padding: 20px;
    }

    #desertListContainer{
        width: 100%;
        
        .productList{
            grid-template-columns: auto;
        }
    }
    
    #summaryContainer{
        width: 100%;
    }

    #blackBackground {
        #confirmOrderContainer{
            width: 100%;
        }
    }
}